# Variables for external function
snowflake_api_aws_iam_user_arn = ""
snowflake_api_aws_external_id  = ""

# Variables for snowflake connection
snowflake_account  = ""
snowflake_region   = ""
snowflake_user     = ""
snowflake_password = ""
snowflake_role     = ""

# Variables for external function
snowflake_database_name = ""
snowflake_schema_name   = ""
